/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 1, 2015, 3:00:20 PM
    Author     : Amirhossein Aleyasen <aleyase2@illinois.edu>
*/


.table-header, .table-header-text, .table-header-sort-button  {
    cursor: pointer;
}

#container {
    /*width:70%;*/
    /*height:100px;*/
    /*border:1px solid red;*/
    margin-right:10px;
    float:left;
}

#slider-container{
    /*width:50px;*/
    /*height:500px;*/
    /*border:1px solid red;*/
    margin-right:10px;
    float:left;
}

#slider {
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}